examples/cube/cube
examples/joystick/joystick
examples/lightsforward/lightsforward
examples/shaders/shaders
examples/testscene/testscene
examples/**/*.exe
examples/**/*.dll

*.exe
*.dll
*.swp
.vscode

cmd/particles/particles
cmd/particles/particles.exe

cmd/compeditor/compeditor
cmd/compeditor/compeditor.exe

.floo
.flooignore
